# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.moved-aside
*.xccheckout
*.xcuserstate
*.xcscmblueprint
*.xcuserdatad/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
Archives/
*.xcarchive

# Other common
*.lock
*.env
Products/

