//
//  .gitignore
//  OuluBankR1
//
//  Created by Adam Cegielka on 01/11/2025.
//

# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.moved-aside
*.xccheckout
*.xcuserstate
*.xcscmblueprint
*.xcuserdatad/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Archives
*.xcarchive

# Other common
*.swp
*.lock
*.env
Products/
